<!-- template.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.5;
            color: black;
        }
        .footer {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <p>Buen día, espero que te encuentres muy bien.</p>
    <p>Te env&iacute;o el siguiente cliente para ver la viabilidad de la operaci&oacute;n, te agradezco mucho la confirmaci&oacute;n a este correo, saludos.</p>
    <ul>
        <li><strong>Folio Konnect:</strong> {{numCotizacion}}</li>
        <li><strong>Cliente:</strong> {{cliente}}</li>
        <li><strong>Edad:</strong> {{edad}}</li>
        <li><strong>RFC:</strong> {{rfc}}</li>
        <li><strong>Instituci&oacute;n:</strong> {{ifName}}</li>
        <li><strong>Monto solicitado:</strong> $ {{monto}}</li>
        <li><strong>Producto:</strong> {{productoName}}</li>
        <li><strong>Nombre del broker:</strong> {{brokerName}}</li>
        <li><strong>Localidad del Boker:</strong> {{sedeName}}</li>
        <li><strong>Operativa del Cliente:</strong> {{OpCliente}}</li>
        <li><strong>Ingresos:</strong> $ {{ingresos}}</li>
        <li><strong>Antiguedad Empresa:</strong> {{antiguedadEmpresa}}</li>
        <li><strong>Plazo:</strong> {{plazo}}</li>
        <li><strong>Tipo de Persona:</strong> {{tipoPersona}}</li>
    </ul>
    <p>Yo <strong>{{userName}}</strong> confirmo que esta cotejada la información</p>
    {% if isLink %}
    <a href="https://konnect.mx/api/viewDownloadExp.php?archivo={{cotizacionB64}}">Descarga aquí el expediente</a>
    {% endif %}
    
    <p>Quedo pendiente a tus comentarios.</p>
    <p>Saludos cordiales,</p>
    <div class="footer">
        <img src="cid:firma" alt="Firma de KONNECT" style="width: 300px; height: auto;">
    </div>
</body>
</html>
