<!-- template.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.5;
            color: black;
        }
        .footer {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <p>Buen día, espero que te encuentres muy bien.</p>
    <p>Te env&iacute;o el siguiente cliente para ver la viabilidad de la operaci&oacute;n, te agradezco mucho la confirmaci&oacute;n a este correo, saludos.</p>
    <ul>
        <li><strong>Cliente:</strong> {{cliente}}</li>
        <li><strong>RFC:</strong> {{rfc}}</li>
        <li><strong>Instituci&oacute;n:</strong> {{institucion}}</li>
        <li><strong>Monto:</strong> {{monto}}</li>
        <li><strong>Producto:</strong> {{producto}}</li>
        <li><strong>Nombre del broker:</strong> {{broker}}</li>
        <li><strong>Localidad del Boker:</strong> {{sede}}</li>
        <li><strong>Operativa del Cliente:</strong> {{OpCliente}}</li>
        <li><strong>Folio Konnect:</strong> {{numCotizacion}}</li>
    </ul>
    <p>Yo <strong>{{userName}}</strong> confirmo que esta cotejada la información</p>
    <a href="https://konecct.com.mx/api/viewDownloadExp.php?archivo={{cotizacionB64}}">Descarga aquí el expediente</a>
    <p>Quedo pendiente a tus comentarios.</p>
    <p>Saludos cordiales,</p>
    <div class="footer">
        <img src="cid:firma" alt="Firma de KONNECT">
    </div>
</body>
</html>
