<!-- template.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.5;
            color: black;
        }
        .footer {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<p>El Folio {{ folioKonnect }} cambio a estatus de Dispersión </p> 
<p>Cliente: {{ cliente }}</p>



    <a href="https://konecct-broker.web.app/vista?id_cotizacion={{folioKonnect}}">ir a KONNECT</a>
    
    <div class="footer">
        <img src="cid:firma.png" alt="Firma de KONNECT" style="width: 300px; height: auto;">
    </div>
</body>
</html>
