<!-- recordatorios.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.5;
            color: #000000;
            margin: 0;
            padding: 20px;
        }
        .footer {
            margin-top: 30px;
        }
        a {
            color: #1a73e8;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <p>Hola, buen día 👋</p>
    <p>Te compartimos un recordatorio importante.</p>


<img src="cid:imagen_recordatorio.png" alt="imagen_recordatorio" style="width: 300px; height: auto;">


 <!-- <div class="footer">
        <img src="cid:firma.png" alt="Firma de KONNECT" style="width: 300px; height: auto;">
  </div> -->
</body>
</html>
