<!-- template.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.5;
            color: black;
        }
        .footer {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h4>Actualizaci&oacute;n de Documentos</h4>
    <p>Se actualiz&oacute; el expediente del Folio Konnect {{numCotizacion}}</p>
    <p>Me puedes apoyar a revisarlo</p>
    <ul>
        <li><strong>Folio Konnect:</strong> {{numCotizacion}}</li>
        <li><strong>Cliente:</strong> {{cliente}}</li>
        <li><strong>Edad:</strong> {{edad}}</li>
        <li><strong>RFC:</strong> {{rfc}}</li>
        <li><strong>Instituci&oacute;n:</strong> {{ifName}}</li>
        <li><strong>Monto solicitado:</strong> $ {{monto}}</li>
        <li><strong>Producto:</strong> {{productoName}}</li>
        <li><strong>Nombre del broker:</strong> {{brokerName}}</li>
        <li><strong>Localidad del Boker:</strong> {{sedeName}}</li>
        <li><strong>Operativa del Cliente:</strong> {{OpCliente}}</li>
        <li><strong>Ingresos:</strong> $ {{ingresos}}</li>
        <li><strong>Antiguedad Empresa:</strong> {{antiguedadEmpresa}}</li>
        <li><strong>Plazo:</strong> {{plazo}}</li>
        <li><strong>Tipo de Persona:</strong> {{tipoPersona}}</li>
        <li><strong>Celular del Broker:</strong> {{celular}}</li>
        <li><strong>Destino del Credito:</strong> {{destinoCredito}}</li>
    </ul>
    {% if isLink %}
    <a href="https://konecct.com.mx/api/viewDownloadExp.php?archivo={{cotizacionB64}}">Descarga aquí el expediente</a>
    {% endif %}
    <p>Quedo pendiente a tus comentarios.</p>
    <p>Saludos cordiales,</p>
    <div class="footer">
        <img src="cid:firma" alt="Konnect Cotizador" style="width: 300px; height: auto;">
    </div>
</body>
</html>
